<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ospedale</title>
    <link rel="icon" style="image/png" href="../static/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <style>
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: relative;
            bottom: 0;
            width: 100%;
        }
    </style>
  </head>
<body>
<script>
    async function eliminaPaziente(id) {
        try {
            const response = await fetch(`/api/patient/${id}`, {
                method: 'DELETE'
            });

            if (response.ok) {
                console.log('Paziente eliminato con successo');
                location.reload(); // Ricarica l'intera pagina
            } else {
                console.error('Errore durante l\'eliminazione del paziente');
            }
        } catch (error) {
            console.error('Errore:', error);
        }
    }
</script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">🏥</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api">Pazienti registrati {{ listaPazienti|length }}</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<section class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card d-flex flex-column h-100">
                <div class="card-header">
                    Aggiungi Paziente
                </div>
                <div class="card-body d-flex align-items-center justify-content-center">
                    <a href="/api/patient/add">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M7 0h2v16H7V0zM0 7v2h16V7H0z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        {% for paziente in listaPazienti %}
        <div class="col-md-4 mb-4">
    <div class="card d-flex flex-column h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>Scheda Paziente</span>
            <div>
                <button class="btn btn-danger btn-sm me-2" onclick="eliminaPaziente({{ paziente.id }})">Elimina</button>
                <button class="btn btn-primary btn-sm" onclick="{{ paziente.id }}">Modifica</button>
            </div>
        </div>
        <div class="card-body d-flex">
            <div class="d-flex align-items-center">
                <!-- Aggiunta dell'immagine di profilo -->
                <img src="../static/icon.png" alt="Immagine di profilo" class="rounded-circle me-3" style="width: 50px; height: 50px;">
                <div>
                    <h5 class="card-title">{{paziente.nome}} {{paziente.cognome}}</h5>
                    <p class="card-text">Età: {{paziente.calcolaEta()}}</p>
                    <p class="card-text">Codice Paziente: {{paziente.id}}</p>
                    <p class="card-text">Malattie: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="card-text">Condizioni: Stabili</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted mt-auto">
            Data di qualcosa: XX/XX/XX
        </div>
    </div>
</div>
        {% endfor %}
    </div>
</section>


    <footer>
        <p>&copy; 2023 Ospedale ??? - Tutti i diritti riservati - D'Auria Vasil - Langellotti Francesco Pio - ✨La Mura Cristiano - Massa Luigi</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
